<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>1041639312125-014dnunckvuo6ddq6f7i3dvprj3mc0bn.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.1041639312125-014dnunckvuo6ddq6f7i3dvprj3mc0bn</string>
    <key>API_KEY</key>
    <string>AIzaSyBJzCl6VLQyPnCcqxrM0ed6OYn4shyiByM</string>
    <key>GCM_SENDER_ID</key>
    <string>1041639312125</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>keybe.inc.ChatApp</string>
    <key>PROJECT_ID</key>
    <string>chatappios-f1786</string>
    <key>STORAGE_BUCKET</key>
    <string>chatappios-f1786.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:1041639312125:ios:4a7c52ea17914a63570c94</string>
</dict>
</plist>
