<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need to access the location to send it to the chat</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need to access the location to send it to the chat</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need to access the location to send it to the chat</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>We need use to folder document to copy items</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access your mic to hear your beatuful voice</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to your folder directory</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need to access your camera to use a media</string>
	<key>NSCameraUsageDescription</key>
	<string>We need to access your camera to take a photo</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1041639312125-014dnunckvuo6ddq6f7i3dvprj3mc0bn</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
